.tempblock {
    background-color:lime;
    width: 200px;
    height: 200px;
}

.title_desc {
    color: white;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    margin-left: 0%;
    margin-right: auto;
}

.navbar{
    display: flex;
    gap:20px;
    background-color: #333;
    padding: 15px;
    text-align: right;
}

.navbar a{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    background-color: teal;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover{
    background-color: cyan;
}

figure{
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    font-size: 1rem;
}

iframe{
    width:760px;
    height:315px;
    margin: 20px;
    border: 5px solid teal;
    border-radius: 10px;
}   

.video-container{
    display: flex;
    justify-content: center;
    
}   